<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <script src="static/js/jquery/jquery.js"></script>
</head>
<body>
<div class="alert alert-light" role="alert">
    <img src="static/not_sign.png" style="width:20px">
    &nbsp
    苍铭
    &nbsp
    <button type="button" class="btn btn-danger">退出</button>
</div>
<div style="background-color: #cce5ff">
    <button type="button" class="btn btn-outline-primary"><a href="fish_input_list_view">进货</a></button>
    <button type="button" class="btn btn btn-outline-primary"><a href="fish_output_list">出货</a></button>
    <button type="button" class="btn btn btn-outline-primary"><a href="fish_partner_list">联系人</a></button>
    <button type="button" class="btn btn btn-outline-primary"><a href="fish_warehouse_list">仓库</a></button>
    <button type="button" class="btn btn btn-outline-primary"><a href="fish_uom_list">计量单位</a></button>
    <button type="button" class="btn btn btn-outline-primary"><a href="fish_product_product_list">产品</a></button>
    <button type="button" class="btn btn-outline-primary"><a href="work_location_list">作业地址</a></button>
    <button type="button" class="btn btn-outline-primary">作业类型</button>
    <button type="button" class="btn btn-outline-primary">作业流程</button>
    <button type="button" class="btn btn-outline-primary">货物调动</button>
</div>

<form method="POST" enctype="multipart/form-data">

    <div class="alert alert-light" role="alert" style="background-color: #95999c">
        <button type="submit" class="btn btn-info">保存</button>
    </div>
    </div>

    <div style="margin-top: 30px ;padding-left:20px">
    </div>
    <div style="margin-top: 10px ;">
        <font size="5px">请上传产品图片:</font>
        <input type="file" name="file" id="file"/>
    </div>
    <div>

        <div style="margin-top: 30px"><font size="5px">产品名称:<input type="text" name="product_create_name"/></font></div>

        <div style="margin-top: 30px"><font size="5px">产品库存数量:<input type="text" name="product_stock_qty"/></font></div>

        <div style="margin-top: 30px"><font size="5px">产品存放位置:<select name="product_stock_location">
            {% for i in row_1 %}
            <option value="{{ i[0] }}">{{ i[0] }}</option>
            {% endfor %}
        </select></font></div>

        <div style="margin-top: 30px"><font size="5px">产品计量单位:<select name="product_stock_uom">
            {% for i in row %}
            <option value="{{ i[0] }}">{{ i[0] }}</option>
            {% endfor %}
        </select></font></div>

        <div style="margin-top: 30px"><font size="5px">产品种类:<input type="text" name="product_type"/></font></div>
    </div>

</form>


</body>
</html>